In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
dfy = pd.read_feather('../preprocessed_data/final_yellow-2019.feather').dropna()

In [3]:
dfy.head()

,index,level_0,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,tip_amount,tolls_amount,total_amount,trip_duration,average_speed,day,hour,avg_temp,precipitation
0,0,68268,1.0,1.2,1.0,48,163,2.0,6.5,0.0,0.00,0.0,7.30,727.466944,0.001650,1,7,1,1
1,1,579459,1.0,0.6,1.0,263,141,1.0,4.0,0.0,1.50,0.0,6.30,0.033611,17.851240,3,21,0,0
2,2,579460,1.0,2.2,1.0,263,151,1.0,10.0,0.0,1.00,0.0,11.80,0.163889,13.423729,3,21,0,0
3,3,592224,1.0,2.5,1.0,238,246,1.0,11.0,0.0,2.35,0.0,14.15,0.193056,12.949640,3,22,0,0
4,4,592225,1.0,1.1,1.0,50,170,1.0,8.5,0.0,1.85,0.0,11.15,564.278056,0.001949,3,22,0,0

In [4]:
#dfy = dfy.drop(['index', 'level_0'], axis=1)
dfy = dfy.drop('index', axis=1)

In [5]:
dfy.tail()

,level_0,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,tip_amount,tolls_amount,total_amount,trip_duration,average_speed,day,hour,avg_temp,precipitation
22750977,28578513,1.0,12.80,1.0,133,234,2.0,38.5,3.0,0.00,0.0,42.30,0.556389,23.005492,3,23,1,1
22750978,28578514,1.0,2.13,1.0,239,141,2.0,10.0,0.5,0.00,0.0,13.80,0.170833,12.468293,3,23,1,1
22750979,28578515,2.0,5.59,1.0,236,148,1.0,19.0,0.5,4.56,0.0,27.36,0.270278,20.682425,3,23,1,1
22750980,28578516,4.0,2.38,1.0,79,100,1.0,13.5,0.5,3.46,0.0,20.76,0.315000,7.555556,3,23,1,1
22750981,28578517,1.0,19.03,2.0,132,48,2.0,52.0,0.0,0.00,0.0,55.30,0.723333,26.308756,3,23,1,1

In [6]:
dfy.dtypes

level_0               int64
passenger_count     float64
trip_distance       float64
RatecodeID          float64
PULocationID          int64
DOLocationID          int64
payment_type        float64
fare_amount         float64
extra               float64
tip_amount          float64
tolls_amount        float64
total_amount        float64
trip_duration       float64
average_speed       float64
day                   int64
hour                  int64
avg_temp           category
precipitation      category
dtype: object

In [8]:
# Using the features with positive correlation with tip_amount, with 
# code from Lab 3 (in refences)
import statsmodels.formula.api as smf 
fit = smf.ols(formula="tip_amount ~ trip_distance + fare_amount + tolls_amount + total_amount + trip_duration + average_speed",
         data=dfy).fit()

In [9]:
fit.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             tip_amount   R-squared:                       0.866
Model:                            OLS   Adj. R-squared:                  0.866
Method:                 Least Squares   F-statistic:                 2.455e+07
Date:                Sun, 15 Aug 2021   Prob (F-statistic):               0.00
Time:                        20:07:28   Log-Likelihood:            -2.9599e+07
No. Observations:            22750982   AIC:                         5.920e+07
Df Residuals:                22750975   BIC:                         5.920e+07
Df Model:                           6
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept        -2.4428      0.001  -3376.820      0.000      -2.444      -2.441
trip_distance    -0.0165      0.000    -83.864      0.000      -0.017      -0.016
fare_amount      -0.7082      0.000  -6734.783      0.000      -0.708      -0.708
tolls_amount     -0.7190      0.000  -3699.252      0.000      -0.719      -0.719
total_amount      0.7425   7.93e-05   9366.116      0.000       0.742       0.743
trip_duration     0.0026      0.000     16.297      0.000       0.002       0.003
average_speed     0.0199   4.78e-05    417.553      0.000       0.020       0.020
==============================================================================
Omnibus:                  1858295.281   Durbin-Watson:                   0.998
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          7715834.185
Skew:                           0.321   Prob(JB):                         0.00
Kurtosis:                       5.780   Cond. No.                         121.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [13]:
from scipy.stats import zscore

yCOLS = ['tip_amount']
xCOLS = ['trip_distance', 'fare_amount', 'tolls_amount', 'total_amount', 'trip_duration', 
         'average_speed', 'day', 'hour', 'RatecodeID', 'passenger_count', 'precipitation', 'avg_temp']

X_train = dfy[xCOLS]
y_train = dfy[yCOLS]

# Categorical and continuous columns
cat_columns=['day', 'hour', 'RatecodeID', 'passenger_count', 'precipitation', 'avg_temp']
con_columns=['trip_distance', 'fare_amount', 'tolls_amount', 'total_amount', 'trip_duration', 
         'average_speed']

# encode the categorical data:
X_train_standard= pd.get_dummies(X_train, columns=cat_columns)

# code from Lab 3 (in refences)
# standardize the continuous data:
X_train_standard[con_columns] = X_train_standard[con_columns].astype(float).apply(zscore)

In [14]:
y_train.shape

(22750982, 1)

In [29]:
test = pd.read_feather('../preprocessed_data/final_yellow-2020.feather')
y_test = test[yCOLS]
X_test = test[xCOLS]

# encode the categorical data:
X_test_standard= pd.get_dummies(X_test, columns=cat_columns)
# standardize the continuous data:
X_test_standard[con_columns] = X_test_standard[con_columns].astype(float).apply(zscore)

In [30]:
print(y_test.shape, X_test_standard.shape)
X_test_standard.tail()

(8492817, 1) (8492817, 49)

,trip_distance,fare_amount,tolls_amount,total_amount,trip_duration,average_speed,day_0,day_1,day_2,day_3,...,passenger_count_1.0,passenger_count_2.0,passenger_count_3.0,passenger_count_4.0,passenger_count_5.0,passenger_count_6.0,precipitation_0,precipitation_1,avg_temp_0,avg_temp_1
8492812,0.499890,0.758478,-0.195163,1.035505,0.048986,-0.211126,0,0,0,0,...,1,0,0,0,0,0,1,0,1,0
8492813,-0.560802,-0.717297,-0.195163,-0.649864,-0.061249,0.306631,0,0,0,0,...,1,0,0,0,0,0,1,0,1,0
8492814,1.398783,1.759897,-0.195163,1.956280,0.108363,0.061984,0,0,0,0,...,1,0,0,0,0,0,1,0,1,0
8492815,-0.404994,-0.559179,-0.195163,-0.495400,-0.049078,0.284889,0,0,0,0,...,0,1,0,0,0,0,1,0,1,0
8492816,0.293145,0.073297,-0.195163,0.148198,-0.028648,1.739638,0,0,0,0,...,1,0,0,0,0,0,1,0,1,0

In [31]:
X_train_standard.tail()

,trip_distance,fare_amount,tolls_amount,total_amount,trip_duration,average_speed,day_0,day_1,day_2,day_3,...,passenger_count_1.0,passenger_count_2.0,passenger_count_3.0,passenger_count_4.0,passenger_count_5.0,passenger_count_6.0,precipitation_0,precipitation_1,avg_temp_0,avg_temp_1
22750977,2.692235,2.467657,-0.228976,1.833589,0.210191,1.996258,0,0,0,1,...,1,0,0,0,0,0,0,1,0,1
22750978,-0.213129,-0.273665,-0.228976,-0.364542,-0.106435,0.232437,0,0,0,1,...,1,0,0,0,0,0,0,1,0,1
22750979,0.729005,0.592015,-0.228976,0.681306,-0.024769,1.607400,0,0,0,1,...,0,1,0,0,0,0,0,1,0,1
22750980,-0.145055,0.062988,-0.228976,0.172265,0.011957,-0.589906,0,0,0,1,...,0,0,0,1,0,0,0,1,0,1
22750981,4.388619,3.766178,-0.228976,2.836246,0.347289,2.549192,0,0,0,1,...,1,0,0,0,0,0,0,1,0,1

In [32]:
# Fit Multiple Linear Regression Model

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

#X_train, X_test, y_train,  y_test = train_test_split(X_data, y_data)

model = LinearRegression().fit(X_train_standard, y_train)

In [33]:
from sklearn.metrics import mean_squared_error
import math

predictions = model.predict(X_test_standard)
print('RMSE value: ', math.sqrt(mean_squared_error(y_test, predictions)))
print('Accuracy Score: ', model.score(X_test_standard, y_test))

RMSE value:  1.3177765106749273
Accuracy Score:  0.6511544806206744

In [35]:
# Fit Ridge Regression Model

from sklearn.linear_model import Ridge
from sklearn.metrics import accuracy_score

ridge_fit = Ridge(alpha = 1).fit(X_train_standard, y_train)
y_pred = ridge_fit.predict(X_test_standard)
print('RMSE value: ', math.sqrt(mean_squared_error(y_test, y_pred)))
print('Accuracy Score', ridge_fit.score(X_test_standard, y_test))

RMSE value:  1.3182461783242958
Accuracy Score 0.6509057728146819

In [36]:
# Fit Lasso Regression Model

from sklearn.linear_model import Lasso
lasso_fit = Lasso(alpha = 1).fit(X_train_standard, y_train)
y_pred_Lasso = lasso_fit.predict(X_test_standard)
print('RMSE value: ', math.sqrt(mean_squared_error(y_test, y_pred_Lasso)))
print('Accuracy Score', lasso_fit.score(X_test_standard, y_test))

RMSE value:  1.806082901269438
Accuracy Score 0.3447229054215727

In [37]:
# Fit Elastic Net Regression Model

from sklearn.linear_model import ElasticNet
en_fit = ElasticNet(alpha = 1).fit(X_train_standard, y_train)
y_pred_en = en_fit.predict(X_test_standard)
print('RMSE value: ', math.sqrt(mean_squared_error(y_test, y_pred_en)))
print('Accuracy Score', en_fit.score(X_test_standard, y_test))

RMSE value:  1.7686069549266916
Accuracy Score 0.3716345725050276